<!--TODO: временная страница для проверки сверстаных страниц, удалить после добавления роутинга-->
<nav class='start-page'>
    <ul>
        <li>
            {{> Link title='Sign In' page='sign-in' }}
        </li>
        <li>
            {{> Link title='Sign Up' page='sign-up' }}
        </li>
        <li>
            {{> Link title='Profile' page='profile' }}
        </li>
        <li>
            {{> Link title='Chats' page='chat' }}
        </li>
        <li>
            {{> Link title='404' page='error-404' }}
        </li>
        <li>
            {{> Link title='500' page='error-500' }}
        </li>
    </ul>
</nav>
