<!--временная страница для проверки сверстаных страниц-->
<div class="start-page">
    {{> Link title="Sign In" page="sign-in" }}
    {{> Link title="Sign Up" page="sign-up" }}
    {{> Link title="Profile" page="profile" }}
    {{> Link title="Chats" page="chat" }}
    {{> Link title="404" page="error-404" }}
    {{> Link title="500" page="error-500" }}
</div>
