@import 'src/assets/variables';

.profile-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .input-field__label {
        font-size: 13px;
        color: $text-color;
    }

    .input-field__element {
        color: $text-color-gray;
        border: none;
        text-align: end;
    }
}
