<div class="link-container">
    <a
        href="{{ url }}"
        class="link{{#if className}} {{className}}{{/if}}"
    >
        {{ title }}
    </a>
    {{#if endIcon}}
        <img src="{{ endIcon }}" alt="Иконка ссылки">
    {{/if}}
</div>
