<div class='dialog-container {{#if className}} {{ className }} {{/if}}'>
    {{#if showBackground}}
        <div class='dialog-container__background'></div>
    {{/if}}
    <div class='dialog-window'>
        {{{ slot }}}
    </div>
</div>
