<a class='profile-avatar'>
    {{#if avatar}}
        <img class='profile-avatar__avatar' src='{{{ avatar }}}' alt='Аватар пользователя' />
    {{else}}
        <img class='profile-avatar__img' src='../../../assets/picture.svg' alt='Аватар пользователя' />
    {{/if}}
</a>
