{{#> Dialog className='dialog-container_error-page'}}
    <main class='error-page'>
        <img class='error-page__img' src='../../../assets/alertIcon.svg' alt='alert'>
        <p class='error-page__error-title'>{{ errorTitle }}</p>
        <p class='error-page__description'>{{ errorDescription }}</p>
        {{> Link className='error-page__back-link' title=backLinkTitle url=backLinkUrl page=page}}
    </main>
{{/ Dialog}}
