<main class='profile'>
    <aside class='profile__back-btn'>
        {{{ backBtn }}}
    </aside>
    <div class="profile__content">
        {{> ProfileAvatar }}
        {{{ profileForm }}}
    </div>
</main>
