@import 'src/assets/variables';

.profile {
    position: relative;
    height: 100%;

    &__back-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 64px;
        background-color: $smoke-color;
        transform: rotateY(180deg);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
        height: 100%;
        margin: auto;
        padding: 60px 0 150px;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        width: 100%;
    }

    &__user-name {
        margin: 20px 0 60px;
        text-align: center;
    }

    &__user-data,
    &__password {
        width: 100%;
        flex: 1;
    }


    &__footer {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        width: 100%;

        .profile__exit-button {
            color: $text-red;
        }

        .button {
            width: fit-content;
        }
    }

    &__save-btn {
        width: 80%;
        margin-top: 30px;
    }

    .profile-input {
        border-bottom: 1px solid $light-gray-color;

        &:last-child {
            border-bottom: none;
        }

        .input-field__label {
            font-size: 13px;
            color: $text-color;
        }

        .input-field__element {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .input-element {
            color: $text-color-gray;
            border: none;
            text-align: end;
        }
    }
}
