<div class='sign-in-page__content'>
    <h1 class='sign-in-page__title'>Вход</h1>
    <div class='sign-in-page__fields'>
        {{{ lists }}}
    </div>
    <div class='sign-in-page__footer'>
        {{{ submitBtn }}}
        {{{ signUpLink }}}
    </div>
</div>
