<div class='sign-in-page-content__content'>
    <h1 class='sign-in-page-content__title'>Вход</h1>
    <div class='sign-in-page-content__fields'>
        {{{ lists }}}
    </div>
    <div class='sign-in-page-content__footer'>
        {{{ submitBtn }}}
        {{{ signUpLink }}}
    </div>
</div>
