<div class='sign-up-page__content'>
    <h1 class='sign-up-page__title'>Регистрация</h1>
    <div class='sign-up-page__fields'>
        {{{lists}}}
    </div>
    <div class='sign-up-page__footer'>
        {{{ submitBtn }}}
        {{{ signInLink }}}
    </div>
</div>
