{{#> Dialog className='dialog-container_sign-in-page'}}
    <main class='sign-in-page'>
        <form class='sign-in-page__form'>
            <h1 class='sign-in-page__title'>Вход</h1>
            <div class='sign-in-page__content'>
                {{{ lists }}}
            </div>
            <div class='sign-in-page__footer'>
                {{{ submitBtn }}}
                {{{ signUpLink }}}
            </div>
        </form>
    </main>
{{/ Dialog}}
