<div>
    {{#if avatar}}
        <div>
            <img class='chat-item-avatar' src='https://ya-praktikum.tech/api/v2/resources{{ avatar }}' alt='Аватар'>
        </div>
    {{else }}
        <div class='chat-item-avatar'></div>
    {{/if}}
</div>
