{{#> Dialog className='dialog-container_sign-up-page'}}
    <main class='sign-up-page'>
        <form class='sign-up-page__form'>
            <h1 class='sign-up-page__title'>Регистрация</h1>
            <div class='sign-up-page__content'>
                {{> InputField label='Почта' name='email' type='email' }}
                {{> InputField label='Логин' name='login' type='text' }}
                {{> InputField label='Имя' name='first_name' type='text' }}
                {{> InputField label='Фамилия' name='second_name' type='text' }}
                {{> InputField label='Телефон' name='phone' type='tel' }}
                {{> InputField label='Пароль' name='password' type='password' }}
                {{> InputField label='Пароль (еще раз)' name='password' type='password' }}
            </div>
            <div class='sign-up-page__footer'>
                {{> Button title='Зарегистрироваться' className='sign-up-page__register-btn'}}
                {{> Link title='Войти' className='sign-up-page__sign-in-link' page='sign-in' }}
            </div>
        </form>
    </main>
{{/ Dialog}}
