{{#> Dialog className='dialog-container_sign-up-page'}}
    <main class='sign-up-page'>
        <form class='sign-up-page__form'>
            <h1 class='sign-up-page__title'>Регистрация</h1>
            <div class='sign-up-page__content'>
                {{{lists}}}
            </div>
            <div class='sign-up-page__footer'>
                {{{ submitBtn }}}
                {{{ signInLink }}}
            </div>
        </form>
    </main>
{{/ Dialog}}
