<div class='input-field {{#if className}} {{className}} {{/if}}'>
    <div class='input-field__element'>
        {{#if label}}
            <label class='input-field__label'>{{ label }}</label>
        {{/if}}
        {{{ input }}}
    </div>
    <div class="input-field__error-message">{{ error }}</div>
</div>
