@import 'src/assets/variables';

.input-field {
    &__element {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 9px;
        color: $text-color-gray;
    }

    &__error-message {
        font-size: 9px;
        color: $error-color;
    }
}
